// Discover

.discover {
  &__card {
    position: relative;
    width: 200px;
  }

  &__overlay {
    @include scale-img;
  }

  &__data {
    color: var(--white-color);
    
    @include position (absolute, $b: 1.5rem, $l: 1rem);
  }

  &__title {
    margin-bottom: var(--mb-0-25);
    font-size: var(--h3-font);
    color: inherit;
  }

  &__description {
    font-size: var(--smaller-font);
  }
}



// Discover Media

@include min-width ('laptop') {
  .discover {
    &__container {
      width: 610px;
      padding-top: 2rem;
      @include center-block;
    }
  }
}

@include min-width ('large') {
  .discover {
    &__card {
      width: 237px;
    }

    &__container {
      width: 700px;
    }
    
    &__data {
      left: 1.5rem;
      bottom: 2rem;
    }

    &__title {
      font-size: var(--h2-font);
    }
  }
}