// Experience

.experience {
  &__container {
    justify-items: center;
    justify-content: center;
    row-gap: 2.5rem;
  }

  &__content {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 1rem;

    padding: 0 2rem;
  }

  &__number {
    margin-bottom: var(--mb-0-5);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
  }

  &__description {
    font-size: var(--small-font);
  }

  &__img {
    position: relative;
    padding-bottom: 2rem;
  }

  &__overlay {
    @include scale-img;

    &:nth-child(1) {
      width: 263px;
      margin-right: 2rem;
    }

    &:nth-child(2) {
      width: 120px;
      @include position (absolute, $t: 2rem, $r: 0);
    }
  }
}