// Home

.home {
  &__img {
    size: 100% 100vh;
    object-fit: cover;
    object-position: 83%;

    @include position (absolute, $t: 0, $l: 0);
  }
  
  &__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    color: var(--white-color);

    align-content: center;
    row-gap: 3rem;
  }

  &__data {
    &__subtitle {
      display: block;
      margin-bottom: var(--mb-0-75);
      font-weight: var(--font-semi-bold);
    }

    &__title {
      margin-bottom: var(--mb-2-5);
      font-weight: var(--font-medium);
      font-size: var(--biggest-font);
      color: inherit;
    }
  }

  &__social {
    @include flex-column;
    row-gap: 1.5rem;

    &__link {
      width: max-content;
      font-size: 1.2rem;
    }
  }

  &__info {
    width: 228px;
    padding: 1.5rem 1rem;
    background: var(--primary-color);

    @include position (absolute, $r: 0, $b: 1rem);

    @include flex-center-ver;
    column-gap: .5rem;

    &__title {
      display: block;
      margin-bottom: var(--mb-0-75);
      font-weight: var(--font-semi-bold);
      font-size: var(--small-font);
    }

    &__btn {
      font-size: var(--smaller-font);
    }

    &__overlay {
      @include scale-img;
    }

    &__img {
      width: 145px;
    }
  }
}



// Home Media

@include max-width ('small') {
  .home {
    &__info {
      width: 190px;
      padding: 1rem;
    }
  }
}

@include min-width ('laptop') {
  .home {
    &__container {
      // height: 100vh;
      grid-template-rows: 1.8fr .5fr;
    }

    &__data {
      align-self: flex-end;
    }

    &__social {
      margin-bottom: 3rem;
      flex-direction: row;
      align-self: flex-end;
      column-gap: 2.5rem;
    }

    &__info {
      bottom: 3rem;
    }
  }
}



@include min-width ('large') {
  .home {
    &__container {
      grid-template-rows: 2fr .5fr;
    }

    &__info {
      width: 328px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;

      &__title {
        font-size: var(--normal-font);
      }

      &__img {
        width: 240px;
      }
    }
  }
}

@include media-query ($from: 721px, $media-feature: height) {
  .home {
    &__container,
    &__img {
      height: 640px;
    }
  }
}