// Subscribe

.subscribe {
  color: var(--white-color);

  &__bg {
    padding: 2.5rem 0;
    background: var(--secondary-color);
  }

  &__title {
    color: inherit;
  }

  &__description {
    margin-bottom: var(--mb-2-5);
    text-align: center;
  }

  &__form {
    padding: .5rem;
    background: var(--input-color);

    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 70%;
    padding-right: .5rem;
    background: var(--input-color);

    @include placeholder {
      opacity: 1;
      color: var(--text-color);
    }
  }
}



// Subscribe Media

@include min-width ('medium') {
  .subscribe {
    &__form {
      width: 470px;
      @include center-block;
    }
  }
}

@include min-width ('laptop') {
  .subscribe {
    &__bg {
      padding: 0;
      background: none;
    }

    &__container {
      background: var(--secondary-color);
      padding: 3.5rem 0;
    }

    &__input {
      padding: 0 .5rem;
    }
  }
}