// Video

.video {
  &__container {
    padding-bottom: 1rem;
  }

  &__description {
    margin-bottom: var(--mb-2-5);
    text-align: center;
  }

  &__content {
    position: relative;
  }

  &__btn {
    padding: 1rem 1.5rem;
    @include position (absolute, $r: 1rem, $b: -1rem);

    &__icon {
      font-size: 1.2rem;
    }
  }
}



// Video Media

@include max-width ('small') {
  .video {
    &__container {
      padding: 0;
    }
  }
}

@include min-width ('medium') {
  .video {
    &__container {
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
    }
  }
}

@include min-width ('large') {
  .video {
    &__container {
      grid-template-columns: .7fr;
    }

    &__description {
      padding: 0 8rem;
    }
  }
}