// z-index
$z-indexes: (
  'overlay': 10,
  'tooltip': 10,
  'fixed': 100,
);

// Breakpoints
$breakpoints: (
  'small': 340px,
  'medium': 568px,
  'laptop': 768px,
  'large': 1024px,
  'desktop': 1200px,
);

// Img Scale
$img-hidden: hidden;
$img-transition: .3s;
$img-scale: scale(1.1);