// z-index
$z-indexes: (
  'overlay': 10,
  'tooltip': 10,
  'fixed': 100,
);

// Breakpoints
$breakpoints: (
  //
);

// Img Scale
$img-hidden: hidden;
$img-transition: .3s;
$img-scale: scale(1.1);