// Button

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--primary-color);

  font-weight: var(--font-semi-bold);
  color: var(--white-color);

  transition: .3s;

  &:hover {
    background: var(--alt-color);
  }

  &--flex {
    @include flex-center-ver;
    column-gap: .25rem;
  }

  &--link {
    padding: 0;
    background: none !important;
  }
}