// Section

.section {
  padding: 4.5rem 0 2.5rem;

  &__title {
    font-size: var(--h2-font);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
  }
}



// Section Media

@include min-width ('laptop') {
  .section {
    padding: 7rem 0 2rem;
  }
}



// Container

.container {
  max-width: 968px;
  margin: 0 var(--mb-1);
}



// Container Media

@include min-width ('large') {
  .container {
    @include center-block;
  }
}

@include min-width ('desktop') {
  .container {
    max-width: 1024px;
  }
}



// Grid

.grid {
  display: grid;
  gap: 1.5rem;
}



// Main

.main {
  overlow-x: hidden;
}