// Utils vars
@import './utils/vars';

// Utils functions
@import './utils/functions';

// Utils mixins
@import './utils/mixins/media';
@import './utils/mixins/mixins';
@import './utils/mixins/flexbox';

// Fonts
@import './fonts';

html {
  scroll-behavior: smooth;
}

// CSS variables
:root {
  --header-height: 3rem;

  // Change favourite color to match images
  // Green Dark – 190, Green – 171, Green Blue – 200
  --hue-color: 190;

  // HSL color mode
  --primary-color: hsl(var(--hue-color), 64%, 22%);
  --secondary-color: hsl(var(--hue-color), 64%, 22%);
  --alt-color: hsl(var(--hue-color), 64%, 15%);

  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-light-color: hsl(var(--hue-color), 8%, 60%);

  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);

  --white-color: hsl(var(--hue-color), 12%, 90%);

  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  // Font and typography
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;

  --h1-font: 1.5rem;
  --h2-font: 1.25rem;
  --h3-font: 1rem;

  --normal-font: .938rem;
  --biggest-font: 2.5rem;
  --small-font: .813rem;
  --smaller-font: .75rem;

  // Font Weight
  --font-medium: 500;
  --font-semi-bold: 600;

  // Margenes Bottom
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  @include min-width (968px) {
    --h1-font: 2.25rem;
    --h2-font: 1.75rem;
    --h3-font: 1.25rem;
  
    --normal-font: 1rem;
    --biggest-font: 4rem;
    --small-font: .875rem;
    --smaller-font: .813rem;
  }
}

// Pre-CSS
@import './pre';

// Reusuable CSS
@import './reusuable';

@import './elements/button';
@import './elements/scrollup';

@import './layout/header';
@import './layout/footer';

@import './include/home';
@import './include/about';
@import './include/video';
@import './include/place';
@import './include/sponsor';
@import './include/discover';
@import './include/subscribe';
@import './include/experience';