// Flexbox Toolkit

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-ver {
  display: flex;
  align-items: center;
}

@mixin flex-center-hor {
  display: flex;
  justify-content: center;
}

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}